matplotlib              # Python 的绘图库，它能让使用者很轻松地将数据图形化，可以用来绘制各种静态，动态，交互式的图表，并且提供多样化的输出格式
numpy                   # 支持大量的维度数组与矩阵运算，此外也针对数组运算提供大量的数学函数库
Pillow==11.2.1          # Python3 最常用的图像处理库
tensorflow==2.19.0      # 开源机器学习框架，致力于数据流图的自动微分和深度神经网络计算
torch==2.7.0            # 开源的机器学习库，主要用于进行计算机视觉（CV）、自然语言处理（NLP）、语音识别等领域的研究和开发 
torchvision==0.22.0     # 主要处理图像数据，包含一些常用的数据集、模型、转换函数等
tqdm                    # 进度条工具库
